@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --primaryTextColor: #232e35;
    --secondaryTextColor: #656d72;

    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;

    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #6B4950;
    --thirdBackgroundColor: #f0efeb;

    --primaryIconColor: #7e74f1;
    --secondaryIconColor: #5d51e8;

    --pinkSoftColor: #FFC0CB;
    --pinkStrongColor: #8C5B65;
    --pinkDarkColor: #cb416b;
    --roseBrownColor: #E5B5A1;

    --sectionPadding: 6rem 0;
    --itemBorderRadius: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6, strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem; /* 16px */
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: var(--secondaryBackgroundColor)
}


.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 120px) {
    .main-container {
        
        width: 90%;}
}
/* button */

.btn {
    padding: 1rem 1.5rem;
    background:white;
    border: 1.5px solid var(--borderColor);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0.04) 0px 3px 5px;
}

.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}



.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color:#656d72;
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: var (--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}



.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;

}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a{
    color:#232e35
}




.burger div {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burber {
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}



#hero {
    height: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
}

.hero-name span {
    color:#f15e5e9d;
}

.hero-right {
    width: 90%;
}

.hero-right {
    display: flex;
    justify-content: center;
}

#services {
    background-color: var(--roseBrownColor);
    padding: var(--sectionPadding);
}

.pre-title {
    margin: 0 auto;
    text-align: center;
}

.services-title {
    text-align: center;
}